html {
    font-family: arial,sans-serif;
}

.body {
    margin: auto;
    width: 95%;
}

.description{
    font-size: 18px;
    margin: auto;
}

.title{
    padding: 10px;
}

.second_menu {
    float: right;
}

.personal, .description {
    display: inline-block;
}

.center {
    margin: auto;
    text-align: center;
}


.github{
    width: 100;
    height: 50;
}

.linkedin{
    width: 50;
    height: 50;
}

.email{
    width: 50;
    height: 50;
}

#logo{
    padding: 10px;
    width: 100px;
    height: 100px;
}