html {
    font-family: arial,sans-serif;
    line-height: 1.5em;
}

.body {
    margin: auto;
    width: 95%;
}

.description{
    font-size: 18px;
    margin: auto;
}

.title{
    padding: 10px;
}

.center {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.github{
    width: 100;
    height: 50;
}

.linkedin{
    width: 50;
    height: 50;
}

.email{
    width: 50;
    height: 50;
}

#logo{
    padding: 10px;
    width: 100px;
    height: 100px;
}

.image{
    padding: 10px;
    width: 90%;
    height: 20%;
}

#blue{
    color: blue;
}

.blue{
    color: blue;
}

#red{
    color: red;
}

#grey{
    background-color: grey;
}

#red_border{
    border: 2px solid red;
}

#roman{
    font-family: "Times New Roman", Times, serif;
}

#roman_18{
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

#align_right{
    text-align: right;
}

#align_center{
    text-align: center;
}

.quiz{
    line-height: 3.5em;
    font-size: 18px;
}

.button{
    padding: 10px 20px;
    margin-top: 10px;
}

#slide_show.fade-transition {
    opacity: 1;
    transition: opacity 1.5s;
}

#slide_show.fade {
    opacity: 0;
}

#slide_show.shrink-transition {
    transform: scaleY(1);
    transition: transform 1.5s;
}
#slide_show.shrink {
    transform: scaleY(0);
}

#slide_show.wipe-transition {
    transition: transform 1.5s;
}
#slide_show.wipe {
    transform: translate(200%);
}